# Members of group 02
Christian Fredrik Johnsen <chrisfjo@stud.ntnu.no> chrisfjo
David Tuan Kiet Tran <dtktran@stud.ntnu.no> dtktran
Kristian Underdal <kriu@stud.ntnu.no> kriu
Oskar Emil Wavold <oskarew@stud.ntnu.no> oskarew